body {
	background-color: #f1f0ec;
	margin: 0px;
}
#container {
	background-color: #FFFFFF;
	color: #000000;
	width: 1004px;
	margin: 5px auto;
	padding: 10px;
	border: 1px solid #000000;
}
h1 {
	font-size: 24px;
	color: #a00101;
    background-color: #FFFFFF;
}
p {
	margin: 5px;
}
label {
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	padding-right: 10px;
}
fieldset {
	margin: 3px 0px;
}
#copyright {
	font-size: 10px;
	text-align: center;
}
img {
	display: block;
	margin: 0px auto;
	border: 0px;
}

div.container {
	display:inline-block;
  }

/* Font Formatting */
h2, h5 {
    font-family: 'Papyrus';
    color: #7C81EF;
  }
  
  h3, button, li, p {
    font-family: 'Arial';
  }
  
  a {
    font-family: 'Arial';
    font-style: italic;
    color: #7C81EF;
  }
  
  #light-background {
    color: black;
  }
  
/* Background Colors */
  
  #navbar-custom {
    background-color: white;
  }
  
  #header {
    background-color: white;
  }
  
/* From Bootstrap */
  .container {
    max-width: 960px;
  }
  
  .icon-link > .bi {
    width: .75em;
    height: .75em;
  }
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }

